<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>First Name</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
    <body>
        <h2>Table</h2>
        <table>
            <tr><th>ID</th><th>Name</th></tr>
            {% for name in database %}
                <tr>
                    <td>{{ name.id }}</td>
                    <td>{{ name.firstname }}</td>
                </tr>
            {% endfor %}
        </table>
        <hr>
        <br>
        <a href="{% url 'home' %}"><button>На главную</button></a>
    </body>
</html>